.react-calendar {
    width: 100%;
    background-color: #fff;
    color: #1a1d24;
    border-radius: 8px;
    margin-bottom: 4px;
    border: 1px solid red;
    height: 300px;
}
.react-calendar__navigation {
    display: flex;
    width: 50%;
    min-width: 44px;
    background: none;
    margin: auto;
    padding: 8px;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__tile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7); /* divide by number of columns */
    height: calc(100% / 6); /* divide by number of rows */
    border-radius: 6px;
}

.react-calendar__tile:hover {
    background: #00bcff;
}
.react-calendar__tile--active {
    background: #00b8d1;
}
.react-calendar__tile--hasActive--hover, .react-calendar__tile--active:hover {
    background: #00f6ff;
}

.success-day {
    background: #47ffe7;
}

.dot {
    position: absolute;
    bottom: 3px;
    height: 5px;
    width: 5px;
    background-color: #13151b;
    border-radius: 50%;
    display: inline-block;
    left: calc(50% - 2.5px);
}