.react-calendar {
    color: #9ea0a2;
    font-size: smaller;
}
.react-calendar__navigation {
    display: flex;
    width: 50%;
    padding: 12px;
    margin: 0 auto;
}

.react-calendar__navigation__label { 
    font-size: 1.2em;
    border-radius: 8px;
}

.react-calendar__navigation__label:hover {
    background: #1a1d24;
}

.react-calendar__navigation__arrow {
    padding: 6px;
    font-size: 1.2em;
    border-radius: 40px;
    cursor: pointer;
}
.react-calendar__navigation__arrow:hover {
    background: #00bcff;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__tile {
    position: relative;
    font-size: 0.8em;
    width: 40px;
    height: 40px;
}

.react-calendar__tile:hover {
    background: #00bcff;
}

.dot {
    position: absolute;
    bottom: 6%;
    height: 5px;
    width: 5px;
    background-color: #13151b;
    border-radius: 50%;
    display: inline-block;
    left: calc(50% - 2.5px);
}