.react-calendar {
    width: 100%;
    color: #9ea0a2;
    border-radius: 8px;
    font-size: smaller;
    background-color: transparent;
}
.react-calendar__navigation {
    display: flex;
    width: 50%;
    padding: 12px;
    margin: 0 auto;
}

.react-calendar__navigation__label { 
    font-size: 1.2em;
    border-radius: 8px;
}

.react-calendar__navigation__label:hover {
    background: #1a1d24;
}

.react-calendar__navigation__arrow {
    padding: 6px;
    font-size: 1.2em;
    border-radius: 40px;
    cursor: pointer;
}
.react-calendar__navigation__arrow:hover {
    background: #00bcff;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__tile {
    position: relative;
    font-size: 0.8em;
}

.react-calendar__tile:hover {
    background: #00bcff;
}
.react-calendar__tile--active {
    background: #00b8d1;
}
.react-calendar__tile--hasActive--hover, .react-calendar__tile--active:hover {
    background: #00f6ff;
}

.success-day {
    background: #47ffe7;
}

.dot {
    position: absolute;
    bottom: 10%;
    height: 5px;
    width: 5px;
    background-color: #13151b;
    border-radius: 50%;
    display: inline-block;
    left: calc(50% - 2.5px);
}