@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #1a1d24 inset !important;
    color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #afb9c9 !important;
    -webkit-box-shadow: 0 0 0 30px #1a1d24 inset !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #deeaff !important;
    -webkit-box-shadow: 0 0 0 30px #1a1d24 inset !important;
} */

.no-select {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Standard syntax */
}

.group:hover input::placeholder {
    color: #deeaff;
}

.text-gradient {
    background: linear-gradient(to right, #36c0ae, #00b8d1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
