@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0) inset !important;
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0) inset !important;
  background-color: transparent !important;
  background-clip: text;
  color: #fbfbfb !important;
  caret-color: #fbfbfb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0) inset !important;
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0) inset !important;
  background-color: transparent !important;
  background-clip: text;
  -webkit-text-fill-color: #fbfbfb !important;
  caret-color: #fbfbfb;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}

.group:hover input::placeholder {
  color: #deeaff;
}

.text-gradient {
  background: linear-gradient(to right, #36c0ae, #00b8d1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

.div-border {
  position: relative;
  border: none;
}

.div-border::before,
.div-border::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #9ea0a2;
}

.div-border::before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
  min-width: 25px;
  min-height: 25px;
  width: 3vw;
  height: 3vw;
}

.div-border::after {
  right: 0;
  bottom: 0;
  border-width: 0 1px 1px 0;
  min-width: 25px;
  min-height: 25px;
  width: 3vw;
  height: 3vw;
}

.div-border-true::before,
.div-border-true::after {
  border-color: #fbfbfb;
}

.div-border-false::before,
.div-border-false::after {
  border-color: #9ea0a2;
}

/* Add the following class for the icon gradient */
.icon-gradient {
  background: linear-gradient(to bottom right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}